---
const { json } = Astro.props;
---

<div class="mt-12">
  <div class="flex flex-row flex-wrap lg:justify-between items-center gap-x-4">
    <img
      src={json.image}
      alt="Foto de perfil"
      class="w-24 lg:w-48 rounded-lg"
    />
    <h2 class="text-3xl w-2/3 lg:flex lg:flex-wrap">
      {json.title}
      <span class="text-xl text-primary">{json.subtitle}</span>
    </h2>
  </div>
  <div class="mt-12">
    <p class="text-lg mt-2">
      <span class="text-primary">{json.experience}</span>{json.description}
    </p>
  </div>
  <div class="mt-6 flex gap-x-4">
    {
      json.contact.map((el) => (
        <a href={el.url} target="_blank">
          <img src={el.icon} alt="" />
        </a>
      ))
    }
  </div>
</div>
