---
const { json } = Astro.props;
---

<div class="mt-12">
  <div class="flex items-center gap-x-2">
    <img src="/source-code.svg" alt="icono" />
    <h2 class="text-2xl">Proyectos</h2>
  </div>
  {
    json.map((el) => (
      <a href={el.url} target="_blank">
        <div class="mt-6 flex flex-wrap xl:flex-nowrap">
          <img
            src={el.image}
            class="w-full rounded-xl xl:w-1/2 md:mb-6"
            alt={el.title}
          />
          <div class="lg:ml-6">
            <div class="mt-6 lg:mt-0">
              <h3 class="text-xl">{el.title}</h3>
              <div class="flex justify-start items-center gap-x-4 my-4" />
              <p>{el.description}</p>
            </div>
            <div class="mt-4 flex justify-start items-center gap-x-4">
              {el.technologies.map((val) => (
                <img src={val} alt="" />
              ))}
            </div>
          </div>
        </div>
      </a>
    ))
  }
</div>
