---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import Presentation from "../components/sections/Presentation.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Abilities from "../components/sections/Abilities.astro";
import About from "../components/sections/About.astro";
import Info from "../../cv-es.json";
---

<Layout title="Portfolio de Eric García">
  <Navbar json={Info.navbar} />
  <main class="mx-auto">
    <Section id="presentation">
      <Presentation json={Info.presentation} />
    </Section>
    <Section id="experiencia">
      <Experience json={Info.experience} />
    </Section>
    <Section id="proyectos">
      <Projects json={Info.projects} />
    </Section>
    <Section id="sobreMi">
      <About json={Info.about} />
    </Section>
    <Section id="habilidades">
      <Abilities json={Info.abilities} />
    </Section>
  </main>
</Layout>
